@import './variables.scss';

.checkbox{
    font-size: 1em;
    align-items: center;
}

.checkbox input[type=checkbox]:focus {
    outline: none;
    box-shadow: none;
}

.checkbox input[type=checkbox]:focus+label::before {
    @extend .focus-outline;
    @extend .focus-shadow;
    @extend .focus-border-radius;
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 2.5em;
    line-height: 2;
    user-select: none;
}

.checkbox label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.checkbox input[type=checkbox]:checked+label::before {
    background: var(--button-bgcolor);
    transition: var(--transition);
}

.checkbox label::after {
    position: absolute;
    top: -0.2em;
    left: 0.3em;
    width: 2.4em;
    height: 1.1em;
    transform: rotate(-45deg);
    border-color: var(--link-color);
    border-style: solid;
    border-width: 0 0 .3em .3em;
    border-radius: 0.25em;
    box-shadow: 0 2px 0px -1px var(--button-bgcolor);
    z-index: 9999;
    display: inline-block;
    transition: var(--transition);
}

.checkbox input[type=checkbox]:checked+label::after {
    content: "";
}