@import "./ui.scss";

.spinner {
    display: flex;
}

.spinner input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 3em;
    background-color: var(--field-bgcolor);
    color: var(--field-color);

}

.spinner input[type=number]::-webkit-inner-spin-button, .spinner input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.decBtn, .incBtn {
    border: var(--border);
}

.decBtn {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.incBtn {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
