@import '../components/scss/ui.scss';


button[data-toggle=collapse]>svg.toggle-icon {
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

button[data-toggle=collapse].collapsed>svg.toggle-icon {
    transform: rotate(-180deg);
}

#voice-picker {
    min-width: 200px;
}

#demo-viewer {
    padding: 100px;
    min-height: 500px;
}