@import './variables.scss';


/* Some of Bootstrap's reboot styles */ 

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif; 
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.2;
  color: var(--body-color);
  text-align: left;
  background-color: var(--body-bg-color);
  transition: var(--transition);
}

.a11ylabs-navbar>*{
    margin: 0.5rem 0;
}

.a11ylabs-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.a11ylabs-navbar a {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

a {
    text-decoration: underline;
    color: var(--link-color);
    transition: var(--transition);
}

fieldset {
    border: 1px solid var(--border-color);
    padding: 10px;
    background-color: var(--fieldset-backgroud);
    transition: var(--transition);
}

fieldset legend {
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

/* form controls */

select, button, input {
    border: var(--border);
    height: var(--form-field-height);
    color: var(--body-color);
    font-size: inherit;
    transition: var(--transition);
}

select {
    border-radius: var(--border-radius);
    transition: var(--transition);
}

button, select {
    border-radius: var(--border-radius);
    background: var(--button-bgcolor);
    font-weight: bold;
    transition: var(--transition);
}

button.toggle {
    background: var(--primary-bgcolor);
    color: var(--primary-color);
    transition: var(--transition);
}

button.toggle svg.toggle-icon {
    margin-left: 7px;
}

.block-labels label {
    display: block;
    margin-bottom: 0.1rem;
}

label {
    color: var(--body-color);
    transition: var(--transition);
}

.block-labels [class^="col"], .block-labels [class$=" col"] {
    align-self: flex-end;
    /* padding-top: 1.5em; */
}

.block-labels .no-label, .block-labels .inline-label {
    padding-top: 1.5em;
}

.block-labels .inline-label label{
    display: inline-block;
}

.block-labels .less-padding {
    padding-top: 1em;
}

.alert a {
    color: var(--alert-color);
    font-weight: bold;
    transition: var(--transition);
}

button[data-toggle=collapse]>svg.toggle-icon {
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

button[data-toggle=collapse].collapsed>svg.toggle-icon {
    transform: rotate(-180deg);
}


@media screen and (-ms-high-contrast: black-on-white) {
    button:focus, a:focus, select:focus, input:focus, input[type=checkbox]:focus+label::before {
        outline-offset: 1px;
        outline: 0.2rem dashed rgb(13, 1, 65) !important;
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    button:focus, a:focus, select:focus, input:focus, input[type=checkbox]:focus+label::before {
        outline-offset: 1px;
        outline: 0.2rem dashed yellow !important;
    }
}

#voice-picker {
    min-width: 200px;
}

#demo-viewer {
    padding: 100px;
    min-height: 500px;
}