body {
    overflow-y: scroll;
}

a {
    text-decoration: underline;
}

select, button, input {
    border: var(--ui-border);
    height: 2em;
}

select {
    border-radius: var(--ui-border-radius);
}

button {
    border-radius: var(--ui-border-radius);
    background: var(--ui-button-bgcolor);
    font-weight: bold;
}

.block-labels label {
    display: block;
    margin-bottom: 0.1rem;
}

.block-labels [class^="col"], .block-labels [class$=" col"] {
    align-self: flex-end;
    /* padding-top: 1.5em; */
}

.block-labels .no-label, .block-labels .inline-label {
    padding-top: 1.5em;
}

.block-labels .inline-label label{
    display: inline-block;
}

.block-labels .less-padding {
    padding-top: 1em;
}

/* styled checkbox*/

.cc{
    font-size: 1em;
    align-items: center;
}

.cc input[type=checkbox]:focus {
    outline: none;
    box-shadow: none;
}

.cc input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

.cc label {
    position: relative;
    display: inline-block;
    padding-left: 2.5em;
    line-height: 2;
    user-select: none;
}

.cc label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    content: "";
    border: var(--ui-border);
    border-radius: var(--ui-border-radius);
}

.cc input[type=checkbox]:checked+label::before {
    background: #FF0;
}

.cc label::after {
    position: absolute;
    top: 0.3em;
    left: 0.5em;
    width: 1em;
    height: 1em;
    border-color: yellow;
    border-style: solid;
    transform: rotate(-45deg);
    border-width: 0 0 .2em .2em;
    border-radius: .1em .1em .1em 0.1em;
    z-index: 9999;
    display: inline-block;
}

.cc label:after {
    position: absolute;
    top: -0.1em;
    left: 0.3em;
    width: 2.1em;
    height: 1.1em;
    transform: rotate(-45deg);
    border-color: #0D5E2A;
    border-style: solid;
    border-width: 0 0 .3em .3em;
    border-radius: 0.25em;
    box-shadow: 0 2px 0px -1px #FFF;
}



.cc input[type=checkbox]+label::after {
    content: none;
}

.cc input[type=checkbox]:checked+label::after {
    content: "";
}

.cc .label-text {
    font-size: 1rem;
}


.alert a {
    color: #3B3A6E;
    font-weight: bold;
}

button[data-toggle=collapse]>svg.toggle-icon {
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

button[data-toggle=collapse].collapsed>svg.toggle-icon {
    transform: rotate(-180deg);
}

button:focus, a:focus, select:focus, input:focus, input[type=checkbox]:focus+label::before {
    box-shadow: 0 0 0 0.3rem #99007A !important;
    border-radius: var(--ui-border-radius) !important;
    outline: 0.1rem solid #fff !important;
    outline-offset: -0.1rem;
    z-index: 3000;
}

@media screen and (-ms-high-contrast: black-on-white) {
    button:focus, a:focus, select:focus, input:focus, input[type=checkbox]:focus+label::before {
        outline-offset: 1px;
        outline: 0.2rem dashed rgb(13, 1, 65) !important;
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    button:focus, a:focus, select:focus, input:focus, input[type=checkbox]:focus+label::before {
        outline-offset: 1px;
        outline: 0.2rem dashed yellow !important;
    }
}

#voice-picker {
    min-width: 200px;
}

#demo-viewer {
    padding: 100px;
    min-height: 500px;
}

#settings-pane fieldset {
    border: 1px solid rgb(32, 32, 32);
    padding: 10px;
    background-color: #FFF;
}

#settings-pane fieldset legend {
    width: auto;
    font-size: 1em;
}

/* Spinner */

.a11ylabs-spinner {
    display: flex;
}

#settings-pane .a11ylabs-spinner input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 3em;
}

.a11ylabs-spinner input[type=number]::-webkit-inner-spin-button, .a11ylabs-spinner input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.a11ylabs-spinner .decBtn, .a11ylabs-spinner .incBtn {
    border: var(--ui-border);
}

.a11ylabs-spinner .decBtn {
    border-radius: var(--ui-border-radius) 0 0 var(--ui-border-radius);
}

.a11ylabs-spinner .incBtn {
    border-radius: 0 var(--ui-border-radius) var(--ui-border-radius) 0;
}

.hidden {
    display:none;
}